body {
	font-family: $main-font; 
	font-size: 16px; 
	font-weight: $default-font-weight;
}


h1, h2, h3 {
	font-weight: $default-font-weight;
	margin-top: 0; 
}


.text-center {
	text-align: center;
}