.main-content {
	background: #F2F2F2; 
	padding: 2em 0; 
	
	p {
		margin-bottom: 2em; 
	}

	a {
		color: $brand-color;
	} 
}

.content-image {
    float: left;
    margin: 0 1em 1em 0;
    
    img {
    	width: 100%; 
    }
    
    @media (max-width: 500px) {
    	width: 100%; 
    }
}