.site-header {
	margin: ($small-margin*2) 0; 
}

.site-logo {
	width: 10em;
	display: inline-block;
	
	@media (min-width: 700px) and (max-width: 991px) {
		display: block;
		margin: 0 auto; 
	}
	
	img {
		width: 100%; 
	} 


}
